@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

* {
    font-family: 'SUITE-Regular', sans-serif;
}

#kbd {
    font-family: 'SUITE-Regular', sans-serif;
}

html, body {
    height: 100%
}

#container {
    overflow: auto;
    min-height: 100%;
    position: relative;
    padding-bottom: 60px;
}

#footer {
    bottom: 0;
    background-color: #c1aef5;
}